.content-section {
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
    max-width: 1100px;
    min-height: 100px;
    color: #000000;
}

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: start;
    max-width: 1100px;
    padding: 0 50px;
    position: relative;
}

.header__menu {
    justify-self: start;
    line-height: 22px;
    top: 133px;
    position: relative;
    align-self: start;
}

.header__logo {
    justify-self: center;
    display: block;
    height: 105px;
    width: 148px;
    padding-top: 92px;
    padding-bottom: 96px;
    box-sizing: content-box;
}

.header-address {
    text-align: left;
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-self: end;
    position: relative;
    align-self: start;
    top: 95px;
}

.header__links-list {
    display: flex;
    list-style: circle;
    padding-right: 0;
    margin: 0;
    gap: 27px;
    flex-wrap: wrap;
}

.header__links-list-item {
    padding-right: 13px;
}

.header__links-list-item:nth-child(2) {
    padding-right: 12.52px;
}

.header__links-list-item:last-child {
    padding-right: 0;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

address {
    font-style: normal;
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 24.3px;
}

.cover {
    position: relative;
    background-image: url(../images/cover.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 1100px;
    height: 757px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 50px;
}

.overlay {
    position: absolute;
    background-color: rgb(0 0 0 / 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.cover__title {
    position: relative;
    width: 100%;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    line-height: 115%;
    padding: 165px 50px 0px 50px;
    margin: 0 auto 106px;
    z-index: 3;
}

.aligned-text {
    display: block;
    text-align: left;
    padding-bottom: 20px;
}

.aligned-text_center {
    display: block;
    text-align: center;
    padding-bottom: 20px;
}

.aligned-text_right {
    display: block;
    text-align: right;
    margin-top: 20px;
    margin-right: 0;
}

.description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 50px;
    left: 50px;
    right: 50px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 28px;
    z-index: 3;
    padding: 0 50px;
}

.cover__description-text {
    position: relative;
    font-weight: 400;
    word-spacing: 20px;
    white-space: nowrap;
    align-items: center;
}

.bet-button {
    position: relative;
    border: 1px solid #fff;
    background-color: transparent;
    padding: 12px 32px 11px 31px;
    margin-left: 107px;
    margin-right: 50px;
    font-weight: 500;
    line-height: normal;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    white-space: nowrap;
}

.lots {
    padding: 180px 24px 100px 24px;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    box-sizing: border-box;
}

.lots__card-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

.lots__card-list-item {
    width: calc((100% - 50px) / 3);
    max-height: 596px;
    padding: 0;
    margin: 0;
}

.card {
    text-decoration: none;
    height: 100%;
    padding: 0 20px 20px 20px;
    box-sizing: border-box;
}

.card-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    color: #000;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    position: relative;
    z-index: 2;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline;
    color: #fff;
    max-width: 254px;
    margin: 0 auto;
    padding-top: 48px;
}

.card__text {
    position: relative;
    z-index: 2;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #fff;
    padding-bottom: 48px;
    max-width: 254px;
    margin: 0 auto;
}

.card_type_book .card__title {
    padding-bottom: 4px;
}

.lots__heading {
    font-size: 40px;
    font-weight: 700;
    padding-left: 40px;
    text-transform: uppercase;
    padding-bottom: 10.8px;
}

.lots__look-more-link {
    display: inline-block;
    margin-top: 50px;
    font-size: 20px;
    color: #000;
    text-decoration: underline;
    padding-left: 40px;
}

.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    gap: 72px;
    padding: 120px 24px 180px 24px;
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
    box-sizing: border-box;
}

.about__logo-container {
    position: absolute;
    top: 35px;
    left: 71px;
}

.about__logo {
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 25px;
}

.about__logo-image {
    width: 148px;
    height: 114px;
    object-fit: contain;
}

.about__column {
    display: flex;
    width: 693px;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 334px;
    padding-left: 32px;
    margin-top: 43px;
}

.about__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.about__text {
    margin: 0 0 20px 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.about__text:last-child {
    margin-bottom: 0;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    padding-right: 50px;
    padding-left: 50px;
    color: #000;
    max-width: 1100px;
    margin: 0 auto;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

.footer__address {
    font-style: normal;
    text-align: left;
    line-height: 1.5;
    width: 264.57px;
    margin-bottom: 82px;
}

.footer__address a {
    color: inherit;
    text-decoration: none;
}

.footer__address a:hover {
    text-decoration: underline;
}

.footer__menu {
    text-align: center;
    margin-bottom: 82px;
}

.footer__menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__menu-list-item {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 18px;
}

.footer__menu-link {
    color: inherit;
    text-decoration: none;
    font-size: 18px;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__menu-link:not(.footer__menu-link_active) {
    text-decoration: underline;
}

.footer__menu-link:hover {
    opacity: 0.8;
}

.footer__social-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 48px;
    margin-bottom: 131px;
}

.footer__social-list-item {
    display: inline-block;
}

.footer__social-link {
    display: block;
    width: 48px;
}

.footer__social-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}